body {
    font-family: Arial, sans-serif;
    background-color: wheat;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    background: rgb(188, 244, 178);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

.button {
    background-color: #28a745;
    margin-bottom: 20px;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #218838;
}

.dice {
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin: 5px;
    background-color: #e6e6e6;
    border-radius: 5px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#error {
    color: red;
}

#result {
    margin-top: 15px;
    font-weight: bold;
}